<!DOCTYPE html>
<html>
  <head>
    <title>
    </title>
    <meta charset="utf-8">
    <meta name="description" content="<%= productDescription %>">
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width<% if (ctx.mode.cordova || ctx.mode.capacitor) { %>, viewport-fit=cover<% } %>">

    <link rel="icon" type="image/png" sizes="128x128" href="icons/favicon-128x128.png">
    <link rel="icon" type="image/png" sizes="96x96" href="icons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="32x32" href="icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="icons/favicon-16x16.png">
    <link rel="icon" type="image/ico" href="favicon.ico">
  </head>
  <body>
    <!-- quasar:entry-point -->
  </body>
  <script>
    var loadmap = function() {
        globalLat = JSON.parse(window.sessionStorage.getItem("globalLat"))
        globalLng = JSON.parse(window.sessionStorage.getItem("globalLng"))
        var osmUrl = 'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
            osmAttrib = '',
            osm = L.tileLayer(osmUrl, {
                maxZoom: 18,
                attribution: osmAttrib
            });
        var map = L.map('map').setView([globalLat, globalLng], 16).addLayer(osm);
        var greenIcon = L.icon({
            iconUrl: '/icons/leaflet-location.png',
            shadowUrl: '',
            iconSize: [50, 50],
            shadowSize: [60, 60],
            iconAnchor: [40, 50],
            shadowAnchor: [30, 60],
            popupAnchor: [-14, -35]
        });
        L.marker([globalLat, globalLng], {
            icon: greenIcon
        }).addTo(map)
    }
</script>
</html>
