/* app global css */

@font-face {
    font-family: 'IRANSansWeb';
    font-style: normal;
    font-weight: normal;
    src: url('https://cdn.kn2.ir/fonts/iransans/woff/IRANSansWeb(FaNum).woff') format('woff');
}

body , p, h1, h2, h3,input{
    font-family: 'IRANSansWeb' !important;
    margin: 0px !important;
    padding: 0px !important;
}

/* راست چین کردن لیبل اینپوت ها */
.label-right .q-field__label{
   left: unset !important;
   right: 0;
}
.q-field--float.label-right .q-field__label {
    transform: translateY(-40%) scale(1) !important;
    font-size: 11px;
    top: 12px !important;
    transition:unset !important;
}
/*  */

/* آیتم داخل دراپ داین کومبوباکس ها راست چین می شود */
.q-item .q-item__section{
    direction: rtl !important;
}
/*  */