:root {
    --q-Blue: #7bb0d3;
    --q-LightGreen: #26a69a;
    --q-Purple: #9c27b0;
    --q-Pink : #ff0054;
    --q-Dark: #1d1d1d;
    --q-Green : #3a5a40;
    --q-Red: #c10015;
    --q-Gray : #dadad9;
    --q-Orange : #fb5607;
    --q-LightBlue: #31ccec;
    --q-Yellow: #f2c037;
  }